@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  color: white;
}

main {
  background: url(background.jpg), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

h2,
h4 {
  text-transform: capitalize;
  font-weight: 800;
  letter-spacing: 1px;
}

h2 {
  font-size: 38px;
}

h4 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 800;
}

.title {
  margin: 0 0 5rem 4rem;
}

.container {
  margin-top: 4rem;
  position: relative;
  max-width: 1200px;
}

.review {
  margin: 0 6rem;
}

.img-container {
  position: relative;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

p {
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

#person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

#author {
  margin-bottom: 2.25rem;
}

.prev-btn,
.next-btn {
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  cursor: pointer;
  color: #F1A40E;
}
.prev-btn:hover,
.next-btn:hover {
  color: white;
}
.random-btn {
  cursor: pointer;
  background: #F1A40E;
  border: none;
  font-family: inherit;
  font-weight: 300;
  height: 30px;
  width: fit-content;
  border-radius: 2px;
  padding: 0 15px;
  letter-spacing: 1px;
  font-weight: 600;
}
.random-btn:hover {
  color: white;
}

.button-container {
  margin-bottom: 1rem;
  display: flex;
  gap: 2rem;
}

.switcher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

@media (min-width: 1200px) {
  .button-container {
    display: none;
  }

  .hidden {
    display: block;
    position: absolute;
    top: 50%;
  }

  .next-btn {
    left: 97%;
  }

  .title {
    margin-bottom: 9rem;
  }

  .img-container {
    margin-bottom: 2rem;
  }

  #info {
    margin-bottom: 2rem;
  }

  .prev-btn, .next-btn {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 47px;
  }
}